<div class="col-md-12">
  <h4 class="mb-3">Register Panel</h4>
  <form class="needs-validation" novalidate="">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="firstName">Name</label>
        <input type="text" class="form-control" id="firstName" placeholder="Provide your full name" autocomplete="false" required>
        <div class="invalid-feedback">
          Valid Name is required.
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="mobile">Mobile</label>
        <input type="text" class="form-control" id="mobile" placeholder="Provide your valid mobile number"  autocomplete="false" required>
        <div class="invalid-feedback">
          Valid mobile number required.
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="email">Email </label>
      <input type="email" class="form-control" id="email" placeholder="you@example.com"  autocomplete="false" required >
      <div class="invalid-feedback">
        Please enter a valid email address.
      </div>
    </div>

    <div class="mb-3">
      <label for="email">Password </label>
      <input type="password" class="form-control" id="password" placeholder="Provide a 8 character long password"  autocomplete="false" required>
      <div class="invalid-feedback">
        Please enter a strong password.
      </div>
    </div>

    <hr class="mb-4">
    <button class="btn btn-primary btn-lg btn-block" type="submit">Register</button>
  </form>
</div>